


.container-login {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.panel-left,
.panel-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.panel-left {
  width: 55%;
  background-image: url(../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-right {
  width: 45%;
}

.form_login {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  gap: 20px;
  background-color: #fcfcfc;
  border-radius: 18px;
  box-shadow: -1px -1px 32px hsla(10, 97%, 58%, 0.8);
}

@media screen and (max-width: 768px) {
  .panel-left {
    display: none;
  }

  .panel-right {
    width: 100%;
  }
}

.form_title {
  font-size: 30px;
  margin-bottom: 25px;
  color: hsl(10, 97%, 58%);
}

.input-group {
  display: flex;
  width: 85%;
}

.botao {
  all: unset;
  padding: 8px;
  width: 85%;
  height: 38px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.botao-access {
  color: #f6f6f6;
  background: hsl(10, 97%, 58%);
}